body {
  background-color: #343a4b;
  color: #e5e5e5;
  font-family: "Baloo 2";

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1 {
  font-size: 3vw;
  margin-bottom: 0;
  padding: 0;
  color: #1791a6;
}
h2 {
  font-size: 2.5vw;
  margin-bottom: 0;
}
h3 {
  margin: 0 0;
  color: #1791a6;
  font-weight: 100;
}

hr {
  margin-top: 3vw;
  border-top: 0.5px solid#ECE7DE;
}

ul {
  columns: 100px 3;
  text-align: left;
}

br {
  padding: 10px;
}

/* Custom styles */
.gridcontainer {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.pageTitle {
  grid-column: 12;
  padding: 0 1.5em;
}

#summaryBoxes {
  position: relative;
  background-color: #e5e5e5;
  border-radius: 15px;
  color: black;
  grid-column: 12;
  margin: 0 25px;
  align-content: center;
  flex-direction: row;
  display: flex;
}

.box {
  width: 800%;
  text-align: center;
}
.boxTitle {
  font-size: 1.5vw;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0;
}
.boxPara {
  margin-top: 0px;
  font-size: 1vw;
}

.iceCream {
  max-width: 10%;
  height: auto;

  position: absolute;
  top: -2.8vw;
  right: 6vw;
}

.title {
  color: #1791a6;
}

.ingredients {
  grid-column: 12;
  text-align: center;
}
.ingredients > ul {
  display: inline-block;
}
.ingredientDetail {
  padding-right: 2em;
  padding-bottom: 1em;
  font-size: 1.2vw;
}
.left{
  float:left;
}

.method {
  grid-column: 12;
  text-align: center;
}

.methodBoxes {
  padding: 0 5;
  flex-direction: row;
  display: flex;
  padding-bottom: 4em;
  width: 100%;
}

.stepBox {
  border-radius: 10px;
  padding: 2.5vw 0;
  margin-top: 10;
  background-color: #ece7de;
  writing-mode: vertical-rl;
  font-size: 1.5vw;
  color: #1791a6;
}
.boxDetails {
  font-family: "Open Sans", sans-serif;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.responsive {
  max-width: 100%;
  height: auto;
  padding-left: 75px;
}

.stepDetails {
  margin: auto 75px;
  font-size: 1.3vw;
  text-align: left;
}

@media (max-width: 1100px) {
  h1{
    font-size: 4vw;
  }

  .iceCream {
    max-width: 10%;

    top: -0.5vw;
    right: 6vw;
  }

  .boxTitle {
    font-size: 2vw;
  }
  .boxPara {
    font-size: 1.3vw;
  }
  .title {
    font-size: 2.7vw;
  }

  .ingredientDetail {
    font-size: 1.6vw;
  }

  .stepBox {
    border-radius: 5px;
    font-size: 2vw;
  }

  .responsive {
    max-width: 300px;
    padding-left: 50px;
  }

  .stepDetails {
    margin: auto 50px;
    font-size: 1.6vw;
  }
}

@media (max-width: 690px) {
  h1 {
    font-size: 4.5vw;
  }
  .boxTitle {
    font-size: 3vw;
  }
  .boxPara {
    font-size: 2.2vw;
    font-weight: 200;
  }
  .iceCream {
    max-width: 13%;
    height: auto;
  
    position: absolute;
    top: 2vw;
    right: 4vw;
  }
  .title {
    font-size: 3.5vw;
  }

  .ingredientDetail {
    font-size: 1.8vw;
  }

  .stepBox {
    border-radius: 5px;
    font-size: 2.5vw;
  }

  .responsive {
    max-width: 225px;
    padding-left: 50px;
  }

  .stepDetails {
    margin: auto 50px;
    font-size: 1.8vw;
  }
}
